.header {
    color: aliceblue;
    background-color: rgb(18, 137, 206);
    height: 50px;
    margin-bottom:40px;
}

.teamscore {
    display:flex;
    justify-content:space-around;
}

.scoreover {
    display:flex;
    flex-direction: column;
    align-items: center;
}